In [9]:
import pandas as pd

In [10]:
df_first = pd.read_csv("total.csv")

In [11]:
df_first

,DATE,COUNT,INACTIVE,ACTIVE,A,B,C,OWNER INITIATED,ROUTINE INSPECTION
0,18-Jan,718,131,587,660,55,3,17,701
1,18-Feb,635,106,529,597,36,2,18,617
2,18-Mar,597,88,509,564,30,3,12,585
3,18-Apr,774,134,640,725,44,5,19,755
4,18-May,843,137,706,793,45,5,22,821
5,18-Jun,764,108,656,725,37,2,8,756
6,19-Aug,721,13,708,666,51,4,19,702
7,19-Nov,628,1,627,601,25,2,18,610
8,18-Jul,815,96,719,767,45,3,13,802
9,18-Sep,842,86,756,769,60,9,18,824
10,18-Aug,846,103,743,794,49,3,18,828
11,18-Oct,823,78,745,768,50,5,29,794
12,18-Nov,529,47,482,505,22,2,11,518
13,18-Dec,567,48,519,542,22,3,8,559
14,19-Jan,762,65,697,723,37,2,8,754
15,19-Feb,678,51,627,640,34,4,8,670
16,19-Oct,755,5,750,700,51,4,18,737
17,19-Apr,814,54,760,776,35,3,10,804
18,19-Mar,783,56,727,736,42,5,16,767
19,19-Jun,659,28,631,622,26,11,13,646
20,19-Jul,678,20,658,641,36,1,11,667
21,19-May,750,37,713,712,32,6,13,737
22,19-Sep,732,7,725,683,41,8,15,717
23,19-Dec,559,1,558,534,21,4,7,552

In [13]:
df_first.to_json("total.json", orient ="records")